@page "/"

<PageTitle>Home</PageTitle>

<h1>Domowa Apteczka</h1>

<p>Domowa apteczka to aplikacja webowa ktora  pozwala 
    na możliwość dodawania nowych leków, przeglądanie oraz usuwanie, 
    pozwala także kontrolować ich daty ważności i rodzaj(na recepte oraz bez recepty)</p>
<p>Technologie użyte to Asp.Net+Blazor Server oraz korzysta z bazy danych PostgresSQl</p>
